<div class="btn-top-right">
  <a class="btn btn-primary" href="ciudadanos">
    <i class="bi bi-house-door"></i>
  </a>
  <button class="btn btn-secondary" type="button" (click)="toggleInfoModal()">
    {{ isInfoVisible ? "Cerrar" : "Información" }}
  </button>
</div>

<div *ngIf="isInfoVisible" class="modal-backdrop">
  <div class="modal-content">
    <h5>Puntos de Seguridad</h5>
    <ul>
      <li style="color: green">Zona Segura: Nivel de seguridad alto</li>
      <li style="color: orange">
        Zona Precaución: Nivel de seguridad moderado
      </li>
      <li style="color: red">Zona Peligro: Nivel de seguridad bajo</li>
    </ul>
    <button class="btn btn-primary" (click)="toggleInfoModal()">Cerrar</button>
  </div>
</div>
<div class="banner">
  <img src="assets/img/preguntas-frecuentes.jpg" alt="Imagen de ejemplo" />
  <div class="overlay"></div>
  <div class="banner-text">
    <h1 class="titulo">Investigadores</h1>
  </div>
</div>
<br />
<div class="container div-busqueda">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input
          type="text"
          id="input-busqueda"
          class="form-control"
          placeholder="Buscar..."
          aria-label="Buscar..."
          aria-describedby="button-addon2"
          [(ngModel)]="searchTerm"
          (input)="filterQuestions()"
        />
        <button
          class="btn btn-primary"
          type="button"
          id="boton-busqueda"
          (click)="filterQuestions()"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid p-5 mb-div">
  <div class="row justify-content-center">
    <div class="col-md-4 py-md-5 bg-pregunta">
      <h2 class="text-center texto1">Preguntas</h2>
    </div>
    <div class="col-md-4 py-md-5 bg-respuestas">
      <h2 class="text-center texto1">Respuestas</h2>
    </div>
  </div>
</div>
<section class="preguntas-respuestas p-5">
  <div class="container-fluid div-mb" *ngFor="let item of filteredQuestions">
    <div class="row justify-content-center pregunta">
      <div class="col-md-4 py-md-5 texto2 bg-textos2">
        <h2 class="text-center">{{ item.question }}</h2>
      </div>
      <div class="col-md-4 py-md-1 bordecolor bg-textos2">
        <div class="texto1 py-md-4" [innerHTML]="item.answer"></div>
      </div>
    </div>
  </div>
</section>
