::view-transition-new(root) {
  animation: investigadores 3s ease 0s 1 normal forwards;
}
@keyframes investigadores {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}

/* Contenedor principal con margen para la barra lateral */
.main-content {
  margin-left: 220px;
  padding: 20px;
}

.logo-container {
  padding: 10px;
}

.logo-img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Título */
h1 {
  color: #000000;
  align-items: center;
}

.btn-top-right {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1000;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  text-align: left;
}

.banner {
  position: relative;
  text-align: center;
  height: 450px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 123%;
  object-fit: cover;
  object-position: top;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 61, 116, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.titulo {
  font-size: 90px;
  font-family: system-ui;
  color: white;
}

.texto1 {
  color: white;
}
.texto2 {
  color: white;
  background-color: #95c1fa;
}

@media screen and (max-width: 450px) {
  .titulo {
    font-size: 50px;
  }
}

.bordecolor {
  border-left: 1px solid #1162cd;
  background-color: #95c1fa;
}

@media screen and (max-width: 767px) {
  .bordecolor {
    border-left: 0px solid #1162cd;
    border-top: 1px solid #1162cd;
  }
}

@media (max-width: 480px) {
  .col-md-6.order-md-1 {
    margin-left: 0 !important;
  }
}

@media (max-width: 844px) {
  .col-md-6.order-md-1 {
    margin-left: 0 !important;
  }
}

@media (max-width: 1132px) {
  .col-md-6.order-md-1 {
    margin-left: 0 !important;
  }
}

.custom_heading-container {
  text-align: left;
  margin-left: 6%;
}

.enviar-btn {
  width: 32%;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 15px;
  background: #cbd1d8;
  border: none;
  font-weight: 500;
  color: black;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.enviar-btn:hover {
  background-color: #4395f4;
  color: white;
}

.p-4:hover {
  background: linear-gradient(
    122deg,
    rgba(67, 157, 223, 0.5),
    rgba(182, 217, 255, 0.5)
  );
  transition: background 0.3s ease;
  color: white;
}

.card_elemento {
  position: relative;
  overflow: hidden;
}

.card_elemento:hover .mensaje_hover {
  opacity: 1;
}

.mensaje_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 51, 77, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50px;
}

.mensaje_hover p {
  font-size: 15px;
  color: white;
  width: 80%;
  margin: 5px 0;
}

.div-busqueda .form-control {
  border: 5px solid #1162cd;
}
.mb-div {
  margin-bottom: -15px;
}
.mb-div .bg-pregunta {
  background-color: #0f2035;
}
.mb-div .bg-respuestas {
  background-color: #253242;
}

.preguntas-respuestas .div-mb {
  margin-bottom: 15px;
}
.preguntas-respuestas .bg-textos2 {
  background-color: #536174;
}
.preguntas-respuestas .text-center {
  margin-top: 10px;
}
.mb-div2 {
  margin-bottom: 15px;
}
.mb-div2 .text-center {
  margin-top: 10px;
}
.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px; /* Distancia entre el mapa y el footer */
}

.map-info {
  background-color: #2d87e0;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.map-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.map-info p {
  font-size: 16px;
  color: #1e2124;
  line-height: 1.5;
  margin-bottom: 20px;
}

.info-box {
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 8px;
}

.info-box h4 {
  font-size: 18px;
  color: #343a40;
  margin-bottom: 10px;
}

.info-box ul {
  list-style-type: none;
  padding: 0;
}

.info-box ul li {
  font-size: 16px;
  color: #495057;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-box ul li i {
  margin-right: 10px;
  color: #007bff;
  font-size: 18px;
}

iframe {
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}