<div class="btn-top-right">
  <a class="btn btn-primary" href="ciudadanos">
    <i class="bi bi-house-door"></i>
  </a>
  <button class="btn btn-secondary" type="button" (click)="toggleInfoModal()">
    {{ isInfoVisible ? "Cerrar" : "Información" }}
  </button>
</div>

<div *ngIf="isInfoVisible" class="modal-backdrop">
  <div class="modal-content">
    <h5>Puntos de Seguridad</h5>
    <ul>
      <li style="color: green">Zona Segura: Nivel de seguridad alto</li>
      <li style="color: orange">
        Zona Precaución: Nivel de seguridad moderado
      </li>
      <li style="color: red">Zona Peligro: Nivel de seguridad bajo</li>
    </ul>
    <button class="btn btn-primary" (click)="toggleInfoModal()">Cerrar</button>
  </div>
</div>


<!-- Contenido principal -->
<div class="main-content mt-5">
  <h1>Más seguridad en mi zona</h1>
  <div class="card" style="width: 18rem">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Investigadores</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>

      <!-- Botón para mostrar información adicional -->
      <button class="btn btn-primary" id="toggleButton">
        Mostrar información
      </button>
    </div>
  </div>
</div>
