<section id="slider" class="bg-cover bg-center text-white position-relative" 
    style="background-image: url('assets/img/seguridadhero.jpg'); height: 60vh;">
  <div class="d-flex h-100 bg-black bg-opacity-50 backdrop-blur align-items-center justify-content-center">
    <div class="container text-center">
      <div class="w-100 w-md-75 mx-auto mb-4">
        <h1 class="display-4 font-weight-bold text-white">
          <span class="text-warning">Vigilando por ti:</span> Seguridad en alianza con autoridades peruanas
        </h1>
        <p class="mt-4 font-weight-bold">
          Nuestro aplicativo trabaja en colaboración con la policía y los serenazgos para mejorar la seguridad y
          respuesta rápida en tu comunidad. Unidos por una ciudad más segura.
        </p>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button (click)="scrollToSection()" class="btn btn-dark me-3 shadow-lg custom-hover-btn">
          <i class="bi bi-arrow-down me-1"></i> Conoce más
        </button>
      </div>
    </div>
  </div>
</section>

<section #compromisos class="container bg-black text-white rounded-lg mb-5 mt-5 px-4 py-4">
  <div class="position-relative mb-4">
    <h3 class="text-right text-warning font-weight-bold pb-3 border-bottom border-warning">
      Logramos nuestros compromisos para ayudar a la poblacion junto con las autoridades
    </h3>
  </div>

  <!-- Item 1 -->
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row py-3 border-bottom border-warning">
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/reglamento.svg" class="icon-img rounded-circle" alt="Reglamento" />
    </figure>
    <p class="font-weight-semibold h5">Reglamento Interno y de Seguridad.</p>
  </div>

  <!-- Item 2 -->
  <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row py-3 border-bottom border-warning">
    <p class="font-weight-semibold h5">Política de Prevención de Riesgos.</p>
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/politicas.svg" class="icon-img rounded-circle" alt="Politicas" />
    </figure>
  </div>

  <!-- Item 3 -->
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row py-3 border-bottom border-warning">
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/security.svg" class="icon-img rounded-circle" alt="Reglamento" />
    </figure>
    <p class="font-weight-semibold h5">Cumplimos con todos los estándares de seguridad.</p>
  </div>

  <!-- Item 4 -->
  <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row py-3 border-bottom border-warning">
    <p class="font-weight-semibold h5">Brindamos informacion detallada</p>
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/equipment.svg" class="icon-img rounded-circle" alt="Politicas" />
    </figure>
  </div>

  <!-- Item 5 -->
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row py-3 border-bottom border-warning">
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/soft-hadw.svg" class="icon-img rounded-circle" alt="Reglamento" />
    </figure>
    <p class="font-weight-semibold h5">Estrategia en colaboracion con policias base a datos recolectados</p>
  </div>
</section>
