
<section id="slider" class="bg-cover bg-center text-white position-relative" 
    style="background-image: url('assets/img/seguridadhero.jpg'); height: 60vh;">
  <div class="d-flex h-100 bg-black bg-opacity-50 backdrop-blur align-items-center justify-content-center">
    <div class="container text-center">
      <div class="w-100 w-md-75 mx-auto mb-4">
        <h1 class="display-4 font-weight-bold text-white">
          <span class="text-warning">Vigilando por ti:</span> Seguridad en alianza con autoridades peruanas
        </h1>
        <p class="mt-4 font-weight-bold">
          Nuestro aplicativo trabaja en colaboración con la policía y los serenazgos para mejorar la seguridad y
          respuesta rápida en tu comunidad. Unidos por una ciudad más segura.
        </p>
      </div>
      <div class="d-flex justify-content-center mt-3" [ngClass]="{'highlight-step': tutorialStep === 5}">
        <button (click)="scrollToSection()" class="btn btn-dark me-3 shadow-lg custom-hover-btn">
          <i class="bi bi-arrow-down me-1"></i> Conoce más
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Sección de Compromisos -->
<section #compromisos class="container bg-black text-white rounded-lg mb-5 mt-5 px-4 py-4">
  <div class="position-relative mb-4">
    <h3 class="text-right text-warning font-weight-bold pb-3 border-bottom border-warning">
      Logramos nuestros compromisos para ayudar a la población junto con las autoridades
    </h3>
  </div>

  <!-- Item 1 -->
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row py-3 border-bottom border-warning" [ngClass]="{'highlight-step': tutorialStep === 1}">
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/reglamento.svg" class="icon-img rounded-circle" alt="Reglamento" />
    </figure>
    <p class="font-weight-semibold h5">Reglamento Interno y de Seguridad.</p>
  </div>

  <!-- Item 2 -->
  <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row py-3 border-bottom border-warning" [ngClass]="{'highlight-step': tutorialStep === 2}">
    <p class="font-weight-semibold h5">Política de Prevención de Riesgos.</p>
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/politicas.svg" class="icon-img rounded-circle" alt="Politicas" />
    </figure>
  </div>

  <!-- Item 3 -->
  <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row py-3 border-bottom border-warning" [ngClass]="{'highlight-step': tutorialStep === 3}">
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/security.svg" class="icon-img rounded-circle" alt="Reglamento" />
    </figure>
    <p class="font-weight-semibold h5">Cumplimos con todos los estándares de seguridad.</p>
  </div>

  <!-- Item 4 -->
  <div class="d-flex align-items-center justify-content-between flex-column-reverse flex-sm-row py-3 border-bottom border-warning" [ngClass]="{'highlight-step': tutorialStep === 4}">
    <p class="font-weight-semibold h5">Brindamos información detallada</p>
    <figure class="mb-3 mb-sm-0">
      <img src="assets/svg/equipment.svg" class="icon-img rounded-circle" alt="Politicas" />
    </figure>
  </div>
</section>

<h3 class="titulo-principal">Números de Emergencia en Perú</h3>
<div class="emergencias-contenedor-principal" [ngClass]="{'highlight-step': tutorialStep === 6}">
  <div class="emergencias-container">
    <div class="categoria-emergencia">
      <h2>Salud</h2>
      <p><strong>Ambulancia:</strong> 106</p>
      <p><strong>Seguro Social (EsSalud):</strong> 411 8000</p>
      <img src="assets/img/essalud-perú.png" alt="EsSalud">
      <!-- Botones de llamada -->
      <a href="tel:106" class="boton-llamada">Llamar a Ambulancia</a>
      <hr>
      <a href="tel:4118000" class="boton-llamada">Llamar a EsSalud</a>
    </div>
  </div>
  <div class="emergencias-container">
    <div class="categoria-emergencia">
      <h2>Seguridad</h2>
      <p><strong>Policía Nacional:</strong> 105</p>
      <p><strong>Bomberos:</strong> 116</p>
      <img src="assets/img/policia_nacional.png" alt="Policía">
      <!-- Botones de llamada -->
      <a href="tel:105" class="boton-llamada">Llamar a Policía Nacional</a>
      <hr>
      <a href="tel:116" class="boton-llamada">Llamar a Bomberos</a>
    </div>
  </div>
  <div class="emergencias-container">
    <div class="categoria-emergencia">
      <h2>Desastres Naturales</h2>
      <p><strong>Defensa Civil:</strong> 115</p>
      <img src="assets/img/defensa_civil.png" alt="Desastres Naturales">
      <!-- Botón de llamada -->
      <a href="tel:115" class="boton-llamada">Llamar a Defensa Civil</a>
    </div>
  </div>
</div>





<!-- Botón de Play -->
<div class="d-flex justify-content-center mt-3" id="tutorial-button">
  <button (click)="startTutorial()" class="btn btn-dark me-3 shadow-lg custom-hover-btn">
    <i class="bi bi-play-fill me-1"></i>
  </button>
</div>

<!-- Mensajes del Tutorial -->
<div *ngIf="tutorialStep" class="tutorial-message">
  <p>{{ tutorialMessages[tutorialStep - 1] }}</p>
</div>