<!-- Apartado de botones -->
<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-auto">
      <button class="btn btn-primary" (click)="goToTikTok()">TikTok</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-secondary" (click)="goToFacebook()">Facebook</button>
    </div>
    <div class="col-auto">
      <button class="btn btn-success" (click)="goToWebsite()">Página Web Principal</button>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <h2>TIKTOKS</h2>
</div>

<!-- Contenedor de videos TikTok -->
<div class="tiktok-videos">
  <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435382068974013752" data-video-id="7435382068974013752"></blockquote>
  <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435348740472442167" data-video-id="7435348740472442167"></blockquote>
  <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435043363591605560" data-video-id="7435043363591605560"></blockquote>
</div>


<div class="tiktok-videos">
    <!-- Primer TikTok -->
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435382068974013752" data-video-id="7435382068974013752" style="max-width: 605px; min-width: 325px;">
      <section></section>
    </blockquote>
    <!-- Segundo TikTok -->
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435348740472442167" data-video-id="7435348740472442167" style="max-width: 605px; min-width: 325px;">
      <section></section>
    </blockquote>
    <!-- Tercer TikTok -->
    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elcomerciope/video/7435043363591605560" data-video-id="7435043363591605560" style="max-width: 605px; min-width: 325px;">
      <section></section>
    </blockquote>
  </div>
  
  <!-- Script de TikTok -->
  <script async src="https://www.tiktok.com/embed.js"></script>
  
  <div class="container text-center mt-4">
    <h2>Pagina Web Informacion</h2>
  </div>

  <div class="container text-center mt-4">
    <h2>Facebook-Publicaciones</h2>
  </div>