   /* Diseño de la barra lateral */
   .sidebar {
    background-color: #1d2227;
    color: white;
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar .nav-link:hover {
    background-color: #e65c00;
    color: white;
}

/* Contenedor principal con margen para la barra lateral */
.main-content {
    margin-left: 220px;
    padding: 20px;
}



.logo-container {
    padding: 10px;
}

.logo-img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Título */
h1 {
    color: #000000;
    align-items: center;
}