/* Estilos de la barra lateral */
.sidebar {
  background-color: #1d2227;
  color: white;
}

.logo-container {
  padding: 10px;
}

.logo-img {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Estilos del texto y enlaces en la barra lateral */
.sidebar .nav-link {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar .nav-link:hover {
  background-color: #e65c00;
  color: white;
}

/* Contenedor principal con margen ajustado para cuando el menú está oculto */
.main-content {
  margin-left: 220px;
  padding: 20px;
}

.map-container img {
  max-width: 100%;
  height: auto;
}

/* Responsive design para pantallas pequeñas */
@media (max-width: 768px) {
.main-content {
  margin-left: 0;
}
}