<div class="row m-1">
  <div class="col-md-4 mb-4">
    <div class="filters-container">
      <input
        type="text"
        class="form-control mb-3"
        placeholder="Buscar noticia por nombre"
        [(ngModel)]="searchText"
        (ngModelChange)="filterNoticias()"
      />

      <select
        class="form-control mb-3"
        [(ngModel)]="selectedDistrict"
        (ngModelChange)="filterNoticias()"
      >
        <option value="">Filtrar por distrito</option>
        <option value="Los Olivos">Los Olivos</option>
        <option value="Comas">Comas</option>
        <option value="Ate">Ate</option>
      </select>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card mb-4">
      <img src="/assets/img/noticias/noticia2.png" class="card-img-top" alt="Noticia principal" />
      <div class="card-body">
        <h3 class="card-title">Los Olivos: delincuentes roban 10 mil soles a salida de banco</h3>
        <p class="card-text">
          Una mujer fue víctima de un violento asalto en Los Olivos, justo después de salir de una entidad bancaria. La víctima fue abordada por dos delincuentes armados que la amenazaron con armas de fuego para despojarla de 10 mil soles.
        </p>
        <a href="https://elcomercio.pe/lima/los-olivos-delincuentes-roban-10-mil-soles-a-salida-de-banco-ultimas-noticia/" target="_blanck" class="btn btn-primary">Leer más</a>
      </div>
    </div>

    <div class="row">
        <div
          class="col-12 col-md-6 col-lg-4 mb-3"
          *ngFor="let noticia of filteredNoticias"
        >
          <div class="card shadow-sm hover-shadow">
            <img src="/assets/img/noticias/{{ noticia.imagen }}" class="card-img-top" alt="Noticia" />
            <div class="card-body">
              <h5 class="card-title">{{ noticia.titulo }}</h5>
              <p class="card-text">{{ noticia.resumen }}</p>
              <a href="{{ noticia.enlace }}" target="_blank" class="btn btn-outline-primary">Leer más</a>
            </div>
          </div>
        </div>
      </div>      
  </div>
</div>
