<div class="container-fluid principal">
    <div class="container">
        <p *ngIf="!userLoginOn" class="mensajeError">Usuario NO autenticado</p>
        <p *ngIf="userLoginOn" class="mensajeVerificado">Usuario Autenticado</p>

        <div class="card shadow">
            <div class="card-header d-flex justify-content-center">
                <p class="h3 mt-3">Datos Personales</p>
            </div>
            <div class="card-body m-0">
                <app-personal-details></app-personal-details>
            </div>
        </div>

        
    </div>
</div>